.reports-container {
  margin: auto;
  width: 70%;
  padding-top: 300px;
}

.card {
  max-height: 700px;
  overflow: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.mat-table {
  width: 100%;
  border-collapse: collapse;
}

.mat-header-cell,
.mat-cell {
  padding: 16px;
}

.mat-header-cell {
  font-weight: bold;
}

table {
  width: 100%;
  border-spacing: 0;
}
